<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>EvernoteDictionary</string>
			<key>Image File</key>
			<string>EvernoteDictionary.png</string>
			<key>Regular Expression</key>
			<string>^.{1,200}$</string>
			<key>Shell Script File</key>
			<string>EvernoteDictionary.sh</string>
			<key>Long Running</key>
			<true/>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.evernote.Evernote</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://www.evernote.com/</string>
			<key>Name</key>
			<string>Evernote</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Get definition of a word and remember that in Evernote.</string>
	<key>Extension Identifier</key>
	<string>tk.oitistang.definitiontoevernote</string>
	<key>Extension Name</key>
	<string>EvernoteDictionary</string>
	<key>Required Software Version</key>
	<integer>693</integer>
    <key>Version</key>
    <integer>1</integer>
    <key>Credits</key>
    <array>
		<dict>
            <key>Name</key>
            <string>Chenggang Tang</string>
            <key>Link</key>
            <string>http://OItisTang.tk</string>
        </dict>
    </array>
</dict>
</plist>
